html,body {
	font-size: 12px;
	min-width: 1200px;
	font-family: "Lucida Grande", Lucida Sans Unicode, Hiragino Sans GB, WenQuanYi Micro Hei, Verdana, Aril, sans-serif;
}
.wrap {

}
#header {
	height: 45px;
}
#nav {
	height: 45px;
}

/*自动轮播部分*/
@font-face {
	font-family:'Lato';
	src: url('../css/font-awesome/fonts/fontawesome-webfont.ttf');
}
@font-face {
	font-family:'Raleway';
	src: url('../css/font-awesome/fonts/fontawesome-webfont.ttf');
}
.pic_turn {
	position: relative;
	height: 600px;
}
#tp-slideshow {
	width: 100%;
	height: 100%;
}
.tp-bgimg {
	position: absolute;
	width: 100%;
	height: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	text-align: left;
	opacity: 0;
	filter: Alpha(opacity=0);
}
#tp-bgimg1 {
	background-image: url(http://7xrnph.com1.z0.glb.clouddn.com/pic_turn_bg1.jpg);
	background-position: 100% 50%;
}
#tp-bgimg2 {
	background-image: url(http://7xrnph.com1.z0.glb.clouddn.com/pic_turn_bg2.jpg);
	background-position: 50% 50%;
}
.tp-text-wrapper {
	position: relative;
	width: 1200px;
	height: 100%;
	margin: 0 auto;
}
/*文字块DIV*/
.tp-text {
	display: none;
	width: 500px;
	height: 330px;
	overflow: visible;
	position: absolute;
	top: calc(50% - 165px);
	z-index: 99;
}
#tp-text-left {
	left: 50px;
}
#tp-text-right {
	left: calc(100% - 450px);
}
/*文字块div里下方两个按钮*/
.tp-text span {
	position: absolute;
	bottom: 10px;
	display: inline-block;
	width: 170px;
	height: 55px;
	line-height: 55px;
	text-align: center;
	font-size: 20px;
	font-weight: bold;
	font-family: Lato;
}
.viewMore {
	left: 10px;
	color: #fff;
	background: #3F3F3F;
	border: 2px solid #3F3F3F;
}
.viewMore:hover {
	background: #fff;
	color: #3F3F3F;
	border: 2px solid #3F3F3F;
}
.buyNow {
	right: 125px;
	background: #fff;
	color: #40BEA7;
	border: 2px solid #40BEA7;
}
.buyNow:hover {
	background: #40BEA7;
	color: #fff;
	border: 2px solid #40BEA7;
}
/*文字块上面的字*/
.tp-top {
	position: absolute;
	top: 30px;
	left: 10px;
	display: inline-block;
	font-size: 20px;
	font-family: Lato;
	height: 24px;
	line-height: 24px;
	width: 100%;
	letter-spacing: 2px;
}
/*文字块中间的大字*/
.tp-middle {
	position: absolute;
	left: 10px;
	bottom: 185px;
	display: inline-block;
	font-size: 42px;
	font-weight: bold;
	font-family: Lato;
	height: 55px;
	line-height: 55px;
	width: 100%;
}
/*文字块中间小字*/
.tp-caption {
	position: absolute;
	left: 10px;
	bottom: 110px;
	font-size: 12px;
	font-family: Lato;
	height: 40px;
	line-height: 1.7em;
	width: 100%;
}
.active {
	opacity: 1;
	filter: Alpha(opacity=100);;
}
/*轮播图上的上一张，下一张按钮*/
.arrow span {
	width: 40px;
	height: 40px;
	line-height: 40px;
	position: absolute;
	display: inline-block;
	border: none;
	background: rgba(0, 0, 0, .2);
	font-size: 20px;
	color: #fff;
	font-family: "宋体";
	text-align: center;
	left: 20px;
	top: calc(50% - 20px);
	outline: none;
	transition: .3s;
	border-radius: 4px;
	font-weight: bold;
	cursor: pointer;
	z-index: 9999;
}
.arrow span:nth-of-type(2){
	left: calc(100% - 60px);
}
.arrow span:hover {
	background: rgba(0, 0, 0, .7);
	box-shadow:0 0 10px #000;
}




.main {
	overflow: hidden;
	width: 1180px;
	margin: 0 auto;
}
#aside {
	float: left;
	width: 280px;

}
.content {
	margin-left: 300px;
	width: 878px;
}
.clear {
	clear: both;
}


/*中间上面那三张图*/
.bs {
	width: 100%;
	height: 170px;
	margin: 30px 0 32px 0;
	overflow: hidden;
}
.bs-col {
	width: 393px;
	height: 170px;
	float: left;
	overflow: hidden;
}
.bs-col img {
	position: absolute;
	left: 0;
	top: 0;
	width: 393px;
	height: 170px;
	transition: width 0.5s, height 0.5s, left 0.5s, top 0.5s;
	-moz-transition: width 0.5s, height 0.5s, left 0.5s, top 0.5s;
	-webkit-transition: width 0.5s, height 0.5s, left 0.5s, top 0.5s;
	-o-transition: width 0.5s, height 0.5s, left 0.5s, top 0.5s;
}
.bs-col:hover img {
	width: 450px;
	height: 200px;
	left: -25px;
	top: -15px;
}
.bs-col:nth-child(1) {
	background-color: #7baedd;
}
.bs-col:nth-child(2) {
	background-color: #8ccec2;
}
.bs-col:nth-child(3) {
	background-color: #f1b8be;
}
.bs-col-wrap {
	position: relative;
	width: 100%;
	height: 100%;
}
.bs-col-content {
	position: relative;
}


/*中间内容上面的轮播块*/
.content-up {
	width: 876px;
	height: 838px;
	border: 1px solid #e8e8e8;
}
.up-nav {
	position: relative;
	width: 836px;
	height: 48px;
	margin: 0 auto;
	border-bottom: 1px solid #e8e8e8;
	overflow: hidden;
}
.up-nav-left,.up-nav-right {
	width: 27px;
	height: 27px;
	margin-top: 9px;
	border: 1px solid #e8e8e8;
	line-height: 26px;
	text-align: center;
	color: #3f3f3f;
	font-size: 24px;
	cursor: pointer;
}
.up-nav-left {
	float: left;
}
.up-nav-right {
	float: right;
}
.up-nav-left:hover,.up-nav-right:hover {
	border: 1px solid #40bea7;
}
.up-nav-left:hover i,.up-nav-right:hover i{
	color: #40bea7;
}
.up-nav ul {
	width: 733px;
	height: 48px;
	margin: 0 auto;
}
.up-nav-li {
	float: left;
	width: 243px;
	margin: 10px 0 10px 0;
	line-height: 28px;
	height: 28px;
	color: #c4c4c4;
	font-size: 16px;
	font-weight: bold;
	cursor: pointer;
}
.up-nav-li:hover {
	color: #3f3f3f;
}
.up-nav-li:nth-child(2) {
	border-left: 2px solid #e8e8e8;
	border-right: 2px solid #e8e8e8;
	text-align: center;
}
.up-nav-li:nth-child(1) {
	text-align: right;
	margin-right: 35px;
	width: 208px;
}
.up-nav-li:nth-child(3) {
	text-align: left;
	margin-left: 35px;
	width: 208px;
}
.up-nav-active {
	color: #3f3f3f;
}
.content-up-wrap {
	width: 856px;
	height: 788px;
	margin: 0 auto;
	overflow: hidden;
}
.content-up-block {
	width: 856px;
	height: 744px;
	overflow: hidden;
	position: relative;
	transition: left 0.5s;
	-moz-transition: left 0.5s;
	-webkit-transition: left 0.5s;
	-o-transition: left 0.5s;
}
.fir-content {
	display: none;
}
.thir-content {
	display: none;
}
.content-up-block .col {
	width: 194px;
	padding: 0 10px 0 10px;
	float: left;
}
.col-block {
	width: 194px;
	height: 350px;
	padding-top: 22px;
}
.col-block-img {
	width: 194px;
	height: 236px;
	background-color: #f7f7f7;
	position: relative;
}
.col-block-img img {
	width: 194px;
	height: 236px;
}
.row1,.row2,.row3 {
	height: 25px;
	line-height: 25px;
	text-align: center;
}
.row1 {
	color: #b8b8b8;
	font-size: 12px;
}
.row2 {
	color: #3f3f3f;
	font-size: 12px;
}
.row3 {
	color: #4a4a4a;
	font-size: 14px;
}
.row4{
	text-align: center;
	margin-top: 7px;
}
.row4 i {
	color: #f8d73f;
	font-size: 12px;
}
.col-block-img ul{
	width: 25px;
	position: absolute;
	top: 60px;
	right: 3px;
	display: none;
	background-color: #fff;
}
.col-block-img ul li {
	width: 25px;
	height: 25px;
	line-height: 25px;
	text-align: center;
	border-bottom: 1px solid #e8e8e8;
	cursor: pointer;
	color: #c4c4c4;

}
.col-block-img:hover ul {
	display: block;
}
.col-block-img ul li:hover {
	color: #40bea7;
}

/*内容中间的图片*/
.content-middle {
	margin: 30px 0 30px 0;
	width: 878px;
	height: 150px;
	background-color: #f9e37d;
	position: relative;
}
.content-middle img {
	width: 878px;
	height: 150px;
}
.content-middle .middle-border {
	width: 0px;
	height: 0px;
	position: absolute;
	left: 50%;
	top: 50%;
	border: 0 solid #fff;
}
.content-middle:hover .middle-border {
	left: 9px;
	top: 8px;
	width: 855px;
	height: 130px;
	border: 2px solid #fff;
	transition: width 1s, height 1s,left 1s, top 1s,border 1s;
	-moz-transition: width 1s, height 1s,left 1s, top 1s,border 1s;
	-webkit-transition: width 1s, height 1s,left 1s, top 1s,border 1s;
	-o-transition: width 1s, height 1s,left 1s, top 1s,border 1s;
}

/*内容下面的模块*/
.content-down {
	width: 836px;
	height: 516px;
	border: 1px solid #e8e8e8;
	padding: 0 20px;
	overflow: hidden;
	margin-bottom: 30px;
}
.down-title {
	width: 836px;
	height: 48px;
	line-height: 48px;
	text-align: center;
	color: #000;
	font-size: 16px;
	font-weight: bold;
	border-bottom: 1px solid #e8e8e8;
	margin-bottom: 20px;
}
.down-container {
	width: 836px;
}
.down-left {
	float: left;
	width: 260px;
}
.down-left .col-block {
	width: 260px;
	height: 445px;
	padding-top: 0px;
}
.down-left .col-block-img {
	width: 260px;
	height: 315px;
}
.down-left .col-block-img img {
	width: 260px;
	height: 315px;
}
.down-right {
	width: 546px;
	height: 445px;
	margin-left: 290px;
	position: relative;
	overflow: hidden;
}
.down-right-block {
	width: 273px;
	height: 148px;
	float: left;
	overflow: hidden;
}
.down-right-img {
	width: 100px;
	height: 120px;
	float: left;
}
.down-right-img-wrap{
	width: 100%;
	height: 100%;
	position: relative;
}
.down-right-img img {
	width: 100px;
	height: 120px;
}
.down-right-img-bg{
	position: absolute;
	left: -100px;
	top: 0;
	width: 100px;
	height: 120px;
}
.down-right-img-colorbg {
	background-color: #000;
	opacity: 0.5;
	position: absolute;
	width: 100%;
	height: 120px; 
}
.down-right-img-bg i {
	color: #fff;
	margin: 50px 0 0 44px;
	font-size: 16px;
	position: absolute;
}
.down-right-img:hover .down-right-img-bg{
	left: 0px;
	transition: left 1s;
	-moz-transition: left 1s;
	-webkit-transition:  left 1s;
	-o-transition: left 1s;
}
.down-right-content {
	margin-left: 119px;
}
.down-right-content .row1,.down-right-content .row2,.down-right-content .row3,.down-right-content .row4 {
	text-align: left;
}

/*输入email的模块*/
.content-email {
	width: 878px;
	height: 227px;
	background-color: #d0e9ed;
	text-align: center;
	margin-bottom: 30px;
}
.content-email h2 {
	padding: 30px 0 12px 0;
	font-size: 16px;
	height: 30px;
	line-height: 30px;
	color: #000;
	font-weight: bold;
}
.content-email p {
	font-size: 14px;
	height: 24px;
	line-height: 24px;
	color: #3f3f3f;
}
.email-wrap {
	width: 600px;
	height: 42px;
	margin: 25px auto 0 auto;
	position: relative;
}
.email-input {
	width: 470px;
	height: 42px;
	line-height: 42px;
	background-color: #fff;
	font-size: 14px;
	border: none;
	padding-left: 5px;
	float: left;
}
.email-btn {
	width: 119px;
	height: 42px;
	line-height: 42px;
	float: right;
	text-align: center;
	color: #fff;
	font-size: 12px;
	background-color: #3f3f3f;
	cursor: pointer;
	font-weight: bold;
}



/*footer部分*/
a {
	text-decoration: none;
}
#footer {
	position: relative;
	height: 536px;
	width: 100%;
}
.footer-container {
	position: absolute;
	height: 100%;
	width: 100%;
	background: #262626;
	font-size: 14px;
	color: #949494;
}
/*footer的上半部分*/
.first-footer {
	position: relative;
	width: 100%;
	height: 377px;
}
.first-footer-wrapper {
	position: relative;
	margin: 0 auto;
	top: 0;
	left: 0;
	height: 377px;
	width: 1200px;
}
.aColor {
	display: block;
	color: #949494;
	margin: 10px;
	margin-bottom: 30px;
}
.aColor:hover {
	font-size: 1.2em;
	font-weight: bold;
}
.h3 {
	display: block;
	font-size: 16px;
	height: 22px;
	line-height: 22px;
	font-weight: bold;
	font-family: Raleway;
	letter-spacing: 1px;
	text-transform: uppercase;
	text-align: center;
	color: #fff;
	-webkit-margin-before: 1em;
	 -webkit-margin-after: 1em;
	 -webkit-margin-start: 0;
	   -webkit-margin-end: 0;
}
#authors, #photos, #usefulLinks {
	position: absolute;
	top: 0;
	display: inline-block;
	width: 33%;
	height: 100%;
	margin: 0 auto;
	text-align: center;
}
/*footer上半部分的authors*/
#authors {
	left: 0;
	font-family: Lato;
}
#authors li {
	height: 80px;
}
#authors span {
	color: #d3d3d3;
	font-size: 16px;
}
#authors a {
	text-align: left;
}
/*footer上半部分的photos*/
#photos {
	left: 33.3%;
}
.photos-container {
	position: relative;
	margin: 0 auto;
}
.photos-container:after {
	content:".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
.photos-container img {
	width: 155px;
	height: 155px;
	opacity: .8;
	filter: 'alpha(opacity=80)';
}
.photos-container img:hover {
	opacity: 1;
	filter: 'alpha(opacity=100)';
}
.item {
	position: relative;
	width: 155px;
	height: 155px;
	display: inline-block;
	cursor: pointer;
	margin-top: 4px;
}
/*footer上半部分usefulLinks*/
#usefulLinks {
	left: 66.6%;
	font-size: 42px;
}
#usefulLinks:after {
	content:".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
.list-icons {
	position: relative;
	display: inline-block;
	vertical-align: middle;
}
.list-icons li{
	float: left;
	list-style: none;
}
.fa-icon {
	height: 2em;
	font-size: 3em;
	overflow: hidden;
	margin: .5em;
	position: relative;
	text-decoration: none;
	width: 2em;
}
.fa-icon:before, .fa-icon:after {
	left: 0;
	position: absolute;
	text-align: center;
	-webkit-transition: 0.5s;
	transition: 0.5s;
	top: 50%;
	width: 100%;
}
.fa-icon:before {
	color: white;
	-webkit-transform: translate3D(0, -50%, 0);
	-ms-transform: translate3D(0, -50%, 0);
	transform: translate3D(0, -50%, 0);
	z-index: 2;
}
.fa-icon:after {
	padding-bottom: 25%;
	padding-top: 300%;
	top: 0;
}
.fa-icon:hover:after {
	-webkit-transform: translate3D(0, -73%, 0);
	-ms-transform: translate3D(0, -73%, 0);
	transform: translate3D(0, -73%, 0);
}
.fa-icon:hover:before {
	-webkit-transform: translate3D(0, -250%, 0);
	    -ms-transform: translate3D(0, -250%, 0);
	        transform: translate3D(0, -250%, 0);
}
.fa-twitter:after {
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(25%, #00acee), color-stop(75%, #ffffff));
	background-image: -webkit-linear-gradient(#00acee 25%, #ffffff 75%);
	background-image: linear-gradient(#00acee 25%, #ffffff 75%);
	content: "\f099";
	color: #00acee;
}
.fa-facebook:after {
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(25%, #3b5998), color-stop(75%, #ffffff));
	background-image: -webkit-linear-gradient(#3b5998 25%, #ffffff 75%);
	background-image: linear-gradient(#3b5998 25%, #ffffff 75%);
	content: "\f09a";
	color: #3b5998;
}
.fa-google-plus:after {
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(25%, #dd4b39), color-stop(75%, #ffffff));
	background-image: -webkit-linear-gradient(#dd4b39 25%, #ffffff 75%);
	background-image: linear-gradient(#dd4b39 25%, #ffffff 75%);
	content: "\f0d5";
	color: #dd4b39;
}
.fa-youtube:after {
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(25%, #bb0000), color-stop(75%, #ffffff));
	background-image: -webkit-linear-gradient(#bb0000 25%, #ffffff 75%);
	background-image: linear-gradient(#bb0000 25%, #ffffff 75%);
	content: "\f167";
	color: #bb0000;
}
.fa-github:after {
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(25%, #e30761), color-stop(75%, #ffffff));
	background-image: -webkit-linear-gradient(#e30761 25%, #ffffff 75%);
	background-image: linear-gradient(#e30761 25%, #ffffff 75%);
	content: "\f092";
	color: #e30761;
}
.fa-weibo:after {
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(25%, #F00404), color-stop(75%, #ffffff));
	background-image: -webkit-linear-gradient(#F00404 25%, #ffffff 75%);
	background-image: linear-gradient(#F00404 25%, #ffffff 75%);
	content: "\f18a";
	color: #F00404;
}
/*footer下半部分*/
.end-footer {
	position: relative;
	width: 100%;
	height: 161px;
}
.end-footer-container {
	height: 100%;
	width: 100%;
}
.end-footer-wrapper {
	position: relative;
	height: 50%;
	width: 1200px;
	margin: 0 auto;
}
/*footer下半部分的logo*/
.line-logo {
	position: relative;
	text-align: center;
	display: inline-block;
	height: 106px;
	line-height: 106px;
}
.line-logo img {
	width: 74px;
	height: 30px;
	margin-bottom: -15px;
}
.line-logo span {
	position: relative;
	display: inline-block;
	border-bottom: 1px solid #494949;
	width: 540px;
	margin-top: 53px;
	margin-left: 10px;
	margin-right: 10px;
}
/*footer下半部分的copyright*/
.end-footer-wrapper p {
	height: 53px;
	line-height: 53px;
	font-family: Lato;
}


