*{
	margin: 0; 
	padding: 0; 
	list-style: none; 
	text-decoration: none;
}
.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
.clearfix {
	overflow: hidden; 
	zoom: 1;
}


.main {
	width: 1280px;
	margin: 0 auto;
	font-family: 黑体;
}

/*头部*/
.header {
	width: 100%:;
	height: 56px;
	background-color: #37a9e5;
}
.logo {
	width: 36px;
	height: 36px;
	padding: 10px 0 0 50px;
}
.header-right {
	float: right;
	width: 468px;
	height: 28px;
	margin-top: 14px;
}
.search {
	position: relative;
	width: 312px;
	height: 28px;
	border-radius: 14px;
	background-color: #fff;
	overflow: hidden;
	float: left;
}
.ser-img {
	position: absolute;
	left: 17px;
	top: 5px;
}
.ser-img i {
	font-size: 20px;
	color: #e3e3e3;
}
.ser-input {
	width: 255px;
	height: 28px;
	line-height: 28px;
	margin-left: 48px;
}
.ser-input input {
	width: 255px;
	height: 28px;
	line-height: 28px;
	border: none;
	background-color: #fff;
	outline: none;
}
.login {
	float: left;
	margin-left: 20px;
	color: #fff;
	font-size: 12px;
	line-height: 28px;
	margin-top: 3px;
	cursor: pointer;
}
.login i {
	font-size: 17px;

}

.content {}

/*左侧*/
.content-left {
	float: left;
	width: 260px;
	height: 1210px;
	background-color: #151c39;
}
.user-content {
	width: 170px;
	height: 132px;
	margin: 0 auto;
	padding-top: 18px;
}
.avatar-area {
	height: 58px;
	line-height: 58px;
}
.avatar-img {
	width: 56px;
	float: left;
	height: 56px;
	border: 1px solid #b8bbbd;
	border-radius: 28px;
	overflow: hidden;
}
.avatar-img img {
	width: 48px;
	height: 48px;
	border-radius: 24px;
	background-color: #b8bbbd;
	overflow: hidden;
	margin: 4px;
	display: inline-block;
}
.nickname {
	margin-left: 68px;
	font-size: 16px;
	color: #ececec;
}
.user-count {
	margin-top: 21px;
	font-size: 12px;
	color: #6e8195;
}
.count-block {
	width: 72px;
	line-height: 16px;
	float: left;
	text-align: center;
}
.count-block:nth-child(1) {
	border-right: 1px solid #333847;
} 
/*导航*/
.menu-content {
	color: #6d85b1;
	font-size: 12px;
}
.menu-content i {
	margin-right: 10px;
}
.nav-active {
	background-color: #222b52;
}
[class*="navli-0"] {
	cursor: pointer;
	color: #6d85b1;
}
[class*="navli-0"]:hover {
	color: #ededed;
	background-color: #222b52;
}
.navli-01 {
	line-height: 42px;
	padding-left: 40px;
}
.navli-02 {
	line-height: 28px;
	padding-left: 20px;
}
.navli-03 {
	line-height: 28px;
	padding-left: 35px;
}
.navli-active {
	color: #ededed;
}

.content-right {
	height: 1210px;
	margin-left: 260px;
	background-color: #e9edec;
}
.right-title {
	height: 30px;
	background-color: #fefefe;
}
.right-container {
	/*margin: 19px 0 0 59px;*/
	margin: 19px 70px 0 59px; /*modified by qi_yiyan*/
}

/*日期模块和汽车排名模块样式--by qi_yiyan  start*/
.date_Wrap, .ranking_wrap {
	border: 1px solid #BEC3C7;
	border-radius: 10px;
	background-color: #FFF;
}
.date_Wrap {
	float: left;
	width: 348px;
}
.ranking_wrap {
	margin-left: 360px;
}
.date_Wrap h1, .ranking_wrap h1 {
	height: 38px;
	line-height: 38px;
	border-bottom: 1px solid #E7E8EB;
	padding: 0 20px;
	color: #AAAAAA;
	font-size: 14px;
	background-color: #F3F5F6;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	font-weight: 500;

}
.date {
	padding:0 20px;
	font-size: 12px;
	background-color: #FFF;
	border-radius: 10px;
	height: 319px;
}
.select_wrap {
	display: flex;
	justify-content: space-between;
}
.date .select_year, .date .select_month, .date .select_day, .today_btn {
	height: 20px;
	line-height: 20px;
	border: 1px solid #CDCECE;
	padding: 0 8px;
	margin-top: 10px;
}
.date .select_year:hover, .date .select_month:hover, .date .select_day:hover, .today_btn:hover {
	border-color: #A9A9A9;
}
.date span .fa {
	margin-left: 8px;
}
.date .select_month {
	padding-left: 20px;
}
.date .select_month i {
	margin-left: 20px;
}
.week {
	margin-top: 10px;
	border-top: 2px solid #A9CFEC;
	border-bottom: 2px solid #E1E2E2;
	line-height: 30px;
	display: flex;
	justify-content: space-around;

}
.day_wrap {

}
.day_module {
	float: left;
	height: 42px;
	width: 42px;
	border: 1px solid #FFF;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-top: 2px;
}
.day_module span {
	display: block;
}
.free_day {
	color: #CD3539;
}
.special_day {
	border-color: #F7D463;
}
.ranking_wrap {
	height: 360px;
}
table.rank {
	border: 1px solid #C3C4C4;
	border-collapse: collapse;
	width: 450px;
	margin: 0 auto;
	margin-top: 18px;
	text-align: center;
	font-size: 12px;
}
.rank td,.rank th {
	border: 1px solid #C3C4C4;
	border-width: 0 1px 1px 0;
	vertical-align: middle;
	height: 25px;
}
.rank th {
	font-weight: 600;
	font-size: 13px;
}
.bg_bar {
	margin: 0 10px;
	background-color: #DCDCDC;
	height: 4px;
	width: 160px;
}
.bg_bar div {
	height: 100%;
	background-color: #9ED7F4;
}
tr th:nth-child(3), tr td:nth-child(3) {
	border-right: 0;
}
.bg_bar .bar_vw {
	background-color: #ED6E52;
	width: 85%;
}
.bg_bar .bar_ty {
	background-color: #EF8150;
	width: 80%;
}
.bg_bar .bar_ad {
	background-color: #F19E4F;
	width: 75%;
}
.bg_bar .bar_hd {
	width: 60%;
}
.bg_bar .bar_fd {
	width: 50%;
}
.bg_bar .bar_bm {
	width: 45%;
}
.bg_bar .bar_xd {
	width: 50%;
}
.bg_bar .bar_qy {
	width: 40%;
}
.bg_bar .bar_bz {
	width: 30%;
}
.bg_bar .bar_bk {
	width: 28%;
}
tbody tr:hover {
	background-color: #F4F5F6;
}
/*日期模块和汽车排名模块样式--by qi_yiyan  end*/